body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: yellowgreen;
    }
h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 48px;
    color: darkgray;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: aquamarine;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}